@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Nunito", sans-serif;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1C1F24;
}

.header {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    height: 75px;
    background: #121212;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    height: 40px;
    margin-left: 100px;
    margin-right: 100px;
    gap: 80px;
    
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px; 
  letter-spacing: 0;
  line-height: 17.36px;
  font-weight: 600;
  /* color: white; */
}

.nav-links a{
    color: white;
    text-decoration: none;
}

.nav-btn{
    padding: 12px 24px 12px 24px;
    box-shadow: #6337AE40;
    border-radius: 10px;
    border: 1px solid  #121212;
    background-color: #6337AE;
    color: white;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
}

.nav-btn:hover{
    background-color: #B69EE0;
}

.hero{
    background-color: #1B1E23;
    height: 1323px;
    text-align: center;
    background-image: url(assets/hero-bg.png);
}

.hero-sec h1{
    padding-top: 12px;
    font-size: 56px;
    color: white;
    
}


.hero-sec p{
    margin-top: 24px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.hero-btn{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 32px;
    
}

.see-ada{
    padding: 12px 24px 12px 24px;
   background: linear-gradient(180deg, #9977D4 0%, #6337AE 100%);
   color: white;
   border-radius: 10px;
   font-weight: 800;
   border: 1px solid  #1B1E23;
   cursor: pointer;

}

.see-ada:hover{
    background-color: #6337AE;
}

.learn-more{
    padding: 12px 24px 12px 24px;
    border: 2px solid #9977D4;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    font-weight: 800;
    cursor: pointer;

}

.learn-more:hover{
    background-color: #6337AE;
}

.hero-img {
  margin-top: 101px;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}


.sp1{
    color: #9CEAEC;
}

.sp2{
    color: #B69EE0;
}

.basic{
    background-color: #1C1F24;
    padding-top: 100px;
    padding-right: 100px;
    height: 2010px;

}

.basic-details{
    padding-left: 100px;
    /* padding-right: 522px; */
    color: white;
}

.basic-details h1{
    font-size: 48px;
}

.basic-details p{
    color: white;
}

.basic-btn{
     margin-top: 32px;
    display: flex;
    gap: 32px;
}

.basic-img{
    width: 100%;
    overflow: hidden; 
}

.basic-img img{
    width: 100%;
  height: 100%;
  object-fit: cover;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.basic-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 23.35px;
    margin-top: 80px;
}

.basic-card {
    display: flex;               
    flex-direction: column;      
    align-items: center;         
    text-align: center;          
    /* border: 1px solid red; */
    padding: 30px 20px;
    box-shadow: 0px 7.75px 9.69px -5.81px #0000001A;
    backdrop-filter: blur(11.625px);
    background-color: linear-gradient(135deg, rgba(27, 30, 35, 0.5) 0%, rgba(22, 25, 29, 0.5) 100%);
    border: 0.97px solid #FFFFFF1A;
    border-radius: 12px;
}

.basic-card h1{
    font-size: 23.25px;
}

.basic-card{
    font-size: 15.5px;
}

.resolve-sec{
    padding-top: 80px;
}

.resolve {
  display: flex;
  align-items: center;     
  justify-content: space-evenly;
  /* gap: 48px;              */
}

.resolve p{
    padding-top: 30.29px;
}

.resolve-btn{
    margin-top: 31.24px;
    padding: 16px 24px;
    color: white;
    font-weight: 800;
    background-color: #6337AE;
    border-radius: 10px;
    border: 1px solid #1C1F24;
    box-shadow: 0px 2px 4px 0px #6337AE40 inset;
    cursor: pointer;

}

.resolve-btn:hover{
    background-color: #9977D4;
}

/* Stats Section  */
.stats-sec{
    background-color: #1B1E23;
    height: 2267px;
    display: flex;
    justify-content: center;
}


.num{
    font-size: 48px;
    font-weight: 800;
    color: white;
    margin-top: 160px;
    text-align: center;
}

.para{
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}
.stats-section {
  padding: 100px 0;
  background: #1B1E23;
}

.stats-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}


.stats-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.stats-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.stat-card,
.brand-card {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  padding: 40px;
  color: #fff;
}

.stat-card.large {
  padding: 60px 40px;
  /* height: 269px; */
}

.stat-card h1 {
  font-size: 64px;
  margin: 10px 0;
}

.stat-card p {
  font-size: 24px;
  opacity: 0.8;
}

.small-text {
  font-size: 14px;
  opacity: 0.6;
}

.brand-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
}

.brand-info p {
  font-size: 18px;
  opacity: 0.9;
}

.brand-logo {
  height: 40px;
  object-fit: contain;
}







